{% extends 'base.html.twig' %}

{% block title %}Fast2Fit{% endblock %}

{% block body %}
<header class="header">
    <div class="header-left">
        <div class="logo">Fast2Fit</div>

        <nav class="header-nav">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/users">Korisnici</a>
            <a href="/create-plan">Kreiraj Plan</a>
        {% elseif is_granted('ROLE_TRAINER') %}
            <a href="/assign-plan">Dodaj plan korisniku</a>
            <a href="/create-plan">Kreiraj Plan</a>
        {% else %}
            <a href="/update-progress">Ažurirajte promene</a>
            <a href="/plan">Vaš dijetalni i trening plan</a>
        {% endif %}
        </nav>
    </div>

    <div class="header-right">
        {% if app.user %}
            <a href="/logout" class="btn btn-outline">Log Out</a>
        {% else %}
            <a href="{{ path('app_register')}}" class="btn btn-outline">Register</a>
        {% endif %}
    </div>
</header>
{% endblock %}
